<div class="spinner-container" *ngIf="isLoading" [ngClass]="{'dark-theme': isDarkMode}">
  <div class="spinner"></div>
  <p>Cargando datos...</p>
</div>
<div class="dashboard-container" *ngIf="!isLoading" [ngClass]="{'dark-theme': isDarkMode}">

  <div class="dashboard-cards">
    <div class="card">
      <div class="card-icon"><i class="bi bi-people"></i></div>
      <h3>Usuarios</h3>
      <p>{{ totalUsuarios }}</p>
    </div>
    <div class="card">
      <div class="card-icon"><i class="bi bi-person-badge"></i></div>
      <h3>Roles</h3>
      <p>{{ totalRoles }}</p>
    </div>
  </div>
  <div class="data-layer">
    <table>
      <thead>
        <tr>
          <th>Nombre de Capa</th>
          <th>Cantidad de Datos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let capa of cantidadPorCapa">
          <td>{{ capa.nombre }}</td>
          <td>{{ capa.cantidad }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="chart-container">
    <canvas #chartCanvas></canvas>
  </div>
</div>