<section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
        <div class="square horizontal" style="--i:0;"></div>
        <div class="square vertical" style="--i:1;"></div>
        <div class="square horizontal" style="--i:2;"></div>
        <div class="square vertical" style="--i:3;"></div>
        <div class="square horizontal" style="--i:4;"></div>
        <div class="container">
            <div class="form">
                <div class="images-container">
                    <img src="/assets/img/logo_Bicentenario.webp" alt="Imagen 3" class="login-image">
                    <img src="/assets/img/logo_iniaf.webp" alt="Imagen 1" class="login-image">
                </div>
                <h2>INICIAR SESIÓN</h2>
                <form [formGroup]="form" (ngSubmit)="Guardar()">
                    <div class="inputBox">
                        <input type="text" class="form-control" id="usuario" placeholder="Usuario:" formControlName="usuario" autocomplete="off">
                        <small class="text-danger" *ngIf="form.get('usuario')?.invalid && form.get('usuario')?.touched">
                            Usuario es obligatorio.
                        </small>
                    </div>
                    <div class="inputBox">
                        <input type="password" class="form-control" id="contraseña" placeholder="Contraseña:" formControlName="contraseña">
                        <small class="text-danger" *ngIf="form.get('contraseña')?.invalid && form.get('contraseña')?.touched">
                            Contraseña es obligatoria.
                        </small>
                    </div>
                    <div class="inputBox">
                        <button type="submit" [disabled]="form.invalid || isLoading" [class.loading]="isLoading">
                          {{ isLoading ? 'Accediendo' : 'Ingresar' }}
                        </button>
                      </div>
                      
                </form>
            </div>
            <div class="images-container bottom">
                <img src="/assets/img/logo_mdryt.webp" alt="Imagen 2" class="login-image">
            </div>
        </div>
    </div>
</section>
