.modal-header {
    color: white;
    background-color: #2C5384 !important;
}

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme .btn-close {
    filter: invert(1) !important;
}

.dark-theme .form-control {
    background-color: #333 !important;
    color: #ffffff !important;
    border: 1px solid #555 !important;
}

.dark-theme .form-control::placeholder {
    color: #bbb !important;
}

.dark-theme .pagination {
    background-color: #121212 !important;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.dark-theme .pagination .page-item .page-link {
    background-color: #333 !important;
    color: #ffffff !important;
    border: 1px solid #444 !important;
}

.dark-theme .pagination .page-item.active .page-link {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn-primary .table {
    background-color: #1a1a1a;
    color: #ffffff;
}

.dark-theme .table th {
    background-color: #4a4a4a !important;
    color: #fff !important;
}

.dark-theme .table td {
    background-color: #2b2b2b !important;
    color: #ddd !important;
}

.dark-theme .table-striped tbody tr:nth-of-type(odd) {
    background-color: #252525 !important;
}

.dark-theme .modal-content {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
}

.dark-theme .modal-header {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
    border-bottom: 1px solid #444 !important;
}

.dark-theme .modal-footer {
    border-top: 1px solid #444 !important;
}

.btn-rounded {
    border-radius: 50px;
    font-weight: 500;
    padding: 8px 15px;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #2C5384;
    border-color: #2C5384;
}

.btn-primary:hover {
    background-color: #23456b;
    border-color: #23456b;
}

.text-success {
    color: #28a745 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.float-end {
    float: right;
}

.text-end {
    text-align: end;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
